:root {
  --c-brand: #fd9222;
  --c-primary: #111;
  --c-primary-light: #fff;
  --c-background: #1e1823;
  --c-background-light: #fafafa;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primery);
  background-color: var(--c-background-light);
  font-size: 14px;
}
.logo {
  color: var(--c-primery);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link {
  color: var(--c-primary);
  color: var(--color-primery);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--c-brand);
}

.hero-section {
  background-color: var(--c-background); /* TODO: replace with image */
}

.hero-title {
  color: var(--c-primary-light);
}

.button-primary {
  color: var(--c-primary-light);
  background-color: var(--c-brand);
  border: none;
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 100px;
}

.button-primary:hover {
  color: var(--c-brand);
  background-color: #fcf1e0;
}

.hero-button {
  color: var(--c-primary-light);
  border: 1px solid currentColor;
  padding: 14px 40px;
  border-radius: 100px;
}

.hero-button:hover {
  color: var(--c-brand);
}

.hero-scroll-down {
  color: var(--c-primary-light);
}

.hero-scroll-down:hover {
  color: var(--c-brand);
}
